{% load static %}

<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'assets/images/main_logo.png' %}"  type="image/jpg">
    <title>Welcome to  NEXTUS </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <style type="text/css">
       .header img {
    float: left;
    width: 100px;
    height: 100px;
    margin-top: 45px; 
    background: #ffffff;
  }
  
  
        .header h1 {
    position: relative;
    top: -65px;
    left: 90px;
  }
   

   </style>

</head>

<body class="bg-gray-100">


    <div id="wrapper" class="flex flex-col justify-between h-screen">

        <!-- header-->
        <div class="bg-white shadow dark:bg-gray-1000">
            <div class="max-w-6xl mx-auto">


                <div class="flex items-center lg: justify-between">
                    
                    <a href="trending.html">
                      <div class="header">
                      <b>
                        <h1  style= "font-size: 2rem;"  >  </h1> 
                    
                        <img src="{% static 'assets/images/main_logo.png' %}"  style="width:100px;height:100px;" ></b>
                       <b> <h1  style= "font-size: 1.5rem;"  > NEXTUS </h1></b>
                      </div>
                     
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>